.highlight {
    background-color: yellow;
    font-family: arial black, sans-serif
}
.font{
    font-family: arial black, sans-serif
}
.error {
    background-color: lightcoral;
    border: red;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }