@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.highlight {
    background-color: #B448F6;
    font-family: Roboto Mono
}
.message{
    font-size: 40px;
    font-family: Roboto Mono;
    text-align:center;
}
.error {
    background-color: lightcoral;
    border: red;
}
.img{
    width: 400px;
    height: auto;
    position:relative;
    left: 700px;
}